.header-black{
    background : black;
    height: 30px;
    width: 100%;
    z-index: 4;
}

.menu {
    background: #34495e;
    height: 160px;
}

#logotipo{
    width: auto;
    position: relative;
    left:20%;
    bottom: 10px;
}

.menu-lateral{
    display: none;
}
.sem-menu{
    display:none;
}
@media only screen and (max-width:500px){
   #logotipo{
       left: 15%;
   }
   .nav-custom{
       display: none;
   }
   
   .button-drop{
       height: 30px;
       width: 10%;
       margin-left: -10px;
       background:black;
       border:none;
   }
   .button-drop:visited{
       height: 30px;
       width: 10%;
       margin-left: -10px;
       background:black;
       border:none;
   }
   .drop-icon{
     margin-left: -4px;
   }
      #teste{
       background: #34495e;
       position: fixed;
       width: 100%;
       height: 100%;
       right: 20%;
       z-index: 3;
       transition:1;
     }
     
    #logotipo-lateral{
        display:block;
       
    }
    
    .menu-lateral{
        display: block;
        
    }
    
    
    .menu-lateral , .open-menu{
        
       background: #34495e;
       position: fixed;
       top:30px;
       width: 70%;
       height: 100%;
       right: 30%;
       z-index: 3;
       transition:1;
    }
    
    .sem-menu,.open-menu{
        display: none;
        
    }   
   
  }