.header-black
{
 /*background-color: #34495e;*/
 background-color: #000;
 height: 35px;
}

.header
{
 background-color:#34495e;
 height : 180px;
}

#logo{
 width: 70%;
}

.jumbotron {
 background: #34495e;
}

.nav-menu ul > li > a{
 color:#fff;
 font-family: 'Titillium Web 700', sans-serif;
 font-size: 16px;
 font-weight: bold;
}

.nav-menu ul > li > a:hover {
 background-color: #000;
}

.hr-black{

 border-top: 2px solid #000;
}

.news{
 font-family: 'Titillium Web', sans-serif;
 font-size: 18px;
 position: relative;
 top:10px;
 }
 
.owl-font{
 font-family: 'Titillium Web', sans-serif;
 font-size: 16px;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 #jogador{
  margin: 0px;
 }
 
 
 
 
 /* 
             OWL CAROUSEL
 */
 
 #owl-demo .item{
    background: #ECECEC;
    padding: 30px 0px 0px 0px;
    /*padding-bottom: 0px;*/
    /*padding-top: 20px;*/
    /*padding-right: 88px;*/
    margin: 5px;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    position: relative;
    
    
}




.owl-img{
  margin : 0 auto;
  position: relative;
}

 
 