@media only screen and (max-width:500px){
    #logo{
        width : 90%;
    } 
    .jumbotron{
        display: none;
    }
}


@media only screen and (max-width:990px){
    #logo{
        width: 90%;
    }

}