.header-black
{
 /*background-color: #34495e;*/
 background-color: #000;
 height: 35px;
}

.header
{
 background-color:#34495e;
 height : 180px;
}

#logo{
 width: 70%;
}

.jumbotron {
 background: #34495e;
}

.nav-menu ul > li > a{
 color:#fff;
 font-family: 'Titillium Web 700', sans-serif;
 font-size: 16px;
 font-weight: bold;
}

.nav-menu ul > li > a:hover {
 background-color: #000;
}

.hr-black{
 border-top-color: black;
 border-top: 3px solid #000;
}