@media only screen and (max-width:550px) {
    #logo {
        width: 90%;
    }
    .jumbotron {
        display: none;
    }
    .owl-img {
        margin: 0 auto;
    }
    #owl-demo .item {
        padding-right: 141px;
    }
    .owl-font {
        font-family: 'Titillium Web', sans-serif;
        font-size: 12px;
    }
    #owl-logo {
        width: 39px;
    }
    .no-mobile {
        display: none;
    }
    .on-mobile {
        width: 192%;
        position: relative;
        left: 20px;
    }
    
    .owl-img-mobile-home{
        width: 221%;
    }
}


/*Iphone 5 */

@media (min-width: 551px) and (max-width: 600px) {
    .on-mobile {
        width: 268%;
        position: relative;
        left: 20px;
    }
}

@media only screen and (max-width:990px) {
    #logo {
        width: 90%;
    }
}